<form *ngIf="authorForm" [formGroup]="authorForm">
  <div class="field-container">
    <mat-form-field>
      <input matInput
             placeholder="Имя"
             formControlName="firstName"
             readonly="{{readonly}}"
             required>
      <mat-error *ngIf="authorForm.controls['firstName'].hasError('required')">
        Вы должны заполнить поле
      </mat-error>
    </mat-form-field>
  </div>
  <div class="field-container">
    <mat-form-field>
      <input matInput
             placeholder="Фамилия"
             formControlName="lastName"
             readonly="{{readonly}}"
             required>
      <mat-error *ngIf="authorForm.controls['lastName'].hasError('required')">
        Вы должны заполнить поле
      </mat-error>
    </mat-form-field>
  </div>

  <div class="button-row">
    <button *ngIf="readonly"
            mat-raised-button
            color="primary"
            (click)="edit()">
      Редактировать
    </button>
    <button *ngIf="!readonly"
            mat-raised-button
            color="primary"
            [disabled]="!authorForm.valid"
            (click)="save()">
      Сохранить
    </button>
    <button mat-raised-button
            color="primary"
            (click)="cancel()">
      Отменить
    </button>
  </div>
</form>

